/* your custom css */

.fixedHeaderContainer header img.logo {
  height: 26px;
}

.homeContainer .projectTitle img.logo {
  height: 60px;
}

.fixedHeaderContainer header h2.headerTitleWithLogo {
  display: none
}

.navigationSlider .slidingNav ul.nav-site a {
  color: #fff;
  font-weight: 400;
}

.button.large {
  font-size: 20px;
  padding: .7em 2em;
}

.mainContainer .blockImage img {
  width: 100px;
  height: 100px;
}

.mainContainer .blockImage img[src$="mixer.svg"] {
  width: 64px;
  height: 64px;
  padding: 16px;
}

.mainContainer .post article p img {
  margin: 2em 0;
  border: 1px solid #bbb;
  box-shadow: 8px 8px 8px 1px rgba(0, 0, 0, 0.2);  
}

.lightBackground {
  background: #f1f8ff;
}

.gridBlock .descByGridBlock {
  flex: 1 0 26%;
}

.gridBlock .codeByGridBlock {
  flex: 1 0 53.33%;
  min-width: 0;
}

.nav-footer .sitemap .nav-home {
  width: 150px;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
  .homeContainer .homeWrapper {
    padding-top: 7em;
    padding-bottom: 1em;
  }

  .homeContainer .projectTitle > small {
    margin: 1.5em 0;
  }
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}
